*{
  font-family: "Jura", sans-serif;
  font-size: 14px;
}

body {
  width: 75%;
  margin: 0 auto;
}

/**************************** HEADER ****************************/
header {
  height: 100px;
  position: relative;
}

.logo-header {
  position: absolute;
  margin: 5px 0;
}

/** HORIZONTAL MENU **/
.horizontal-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-item {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  }

.menu-item a{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  }

.menu-item a:hover {
  color: #066;
  font-size: 1.6em;
  text-shadow: 1px 1px 1px #006666;
  transition: all 1s;
}

.menu-item a:active {
  color: #0033ff;
  transition: 0.3s;
}

/** SHOPPING CART MESSAGE AND IMAGE **/
.shopping-cart-msg {
  position: absolute;
  background: url("../img/sacola.png") no-repeat top right;
  top: 1%;
  right: 0;
  width: 200px;
  text-align: right;
  padding-right: 35px;
}

/**************************** BODY ****************************/

h1.title {
  background-image: url(../img/sobre-background.jpg);
  text-align: center;
  font-size: 1.6em;
  padding: 1%;
}

h2 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1%;
  font-size: 1.4em;
}

.text, ul.diferenciais li {
  text-indent: 20px;
  text-align: justify;
  margin: 1% 5%;
  line-height: 1.5;
  font-size: 18px;
}

figure.cd {
  background-color: #F2EDED;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 50%;
  padding: 1%;
  margin: auto;
  text-align: center;
}

.cd img {
  width: 90%;
  margin: 0 auto 2% auto;
}

figure.pelho {
  background-color: #F2EDED;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 20%;
  padding: 1%;
  margin: 0 0 0 2%;
  text-align: center;
  float: right;
  }

.pelho img {
  width: 90%;
  margin: 0 auto 2% auto;
}

figcaption {
  font-style: italic;
}

ul.diferenciais li {
  list-style: circle;
  line-height: 110%;
}

/** ANIMAÇÃO IMAGENS **/
figure:hover {
  transform: scale(1.2);
  transition: 1s ease-in;
}

figure {
  transition: 0.4s ease-out;
}

/**************************** FOOTER ****************************/

footer {
  background-image: url("../img/fundo-rodape.png");
  clear: both;
  height: 100px;
  position: relative;
}

.logo-footer {
  position: absolute;
  left: 1%;
  top: 25%;
}

.social-footer a[href="https://www.facebook.com"] {
  background: url("../img/facebook.png") no-repeat;
}

.social-footer a[href="https://twitter.com"] {
  background: url("../img/twitter.png") no-repeat;
}

.social-footer a[href="https://plus.google.com"] {
  background: url("../img/googleplus.png") no-repeat;
}

.social-footer a{
  text-decoration: none;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-indent: -9999px;
}

ul.social-footer {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

ul.social-footer li{
  float: left;
  margin: 5px;
}
